.banner {
    width: 100%;
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
    padding: 25px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 10px;
    color: #FFFFFF;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item:nth-child(2) {
    align-self: baseline;
}